@use './fonts.scss';
@use './common/AuthLayout.scss';

:root {
    --font-base: 'OpenSans';
    --bg: #fff;
    --color: #000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-base), sans-serif;
    background: var(--bg);
    color: var(--color);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button, input, textarea {
    font-family: inherit;
    font-size: inherit;
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
    color: inherit;
}